body {
    margin: 0;
    height: 100vh;
    display: flex; /* Utiliser Flexbox pour centrer le plateau de jeu */
    justify-content: center; /* Centrer le plateau de jeu horizontalement */
    align-items: center; /* Centrer le plateau de jeu verticalement */
}

#game {
    position: relative; /* Permet de positionner le joueur par rapport au plateau de jeu */
    width: 80vh; /* Utiliser vh pour que le plateau de jeu soit proportionnel à la hauteur de la fenêtre */
    height: 80vh; /** Utiliser vh pour que le plateau de jeu soit proportionnel à la hauteur de la fenêtre */
    background-color: black;
}

#player {
    position: absolute; /* Permet de positionner le joueur par rapport au plateau de jeu */
    background-color: white;
    width: 5vh; /* Utiliser vh pour que le joueur soit proportionnel à la hauteur de la fenêtre */
    height: 5vh; /* Utiliser vh pour que le joueur soit proportionnel à la hauteur de la fenêtre */
    bottom: 1vh;
    left: 50%; /* Centrer le joueur horizontalement */
    transform: translateX(-50%); /* Centrer le joueur a lui meme horizontalement */
}

#enemies {
    position: absolute; /* Permet de positionner les ennemis par rapport au plateau de jeu */
    width: 100%; /* Les ennemis occupent toute la largeur du plateau de jeu */
    height: 100%; /* Les ennemis occupent toute la hauteur du plateau de jeu */
}

.enemy {
    background-color: red;
    position: absolute; /* Permet de positionner les ennemis par rapport au plateau de jeu */
    width: 5vh; /* Utiliser vh pour que les ennemis soient proportionnels à la hauteur de la fenêtre */
    height: 5vh; /* Utiliser vh pour que les ennemis soient proportionnels à la hauteur de la fenêtre */
}