body {
    margin: 0;
    height: 100vh;
    display: flex; /* Utiliser Flexbox pour centrer le plateau de jeu */
    justify-content: center; /* Centrer le plateau de jeu horizontalement */
    align-items: center; /* Centrer le plateau de jeu verticalement */
}

#game {
    position: relative; /* Permet de positionner le joueur par rapport au plateau de jeu */
    width: 120vh; /* Utiliser vh pour que le plateau de jeu soit proportionnel à la hauteur de la fenêtre */
    height: 80vh; /** Utiliser vh pour que le plateau de jeu soit proportionnel à la hauteur de la fenêtre */
    background-color: black;
    overflow: hidden;
}

/* Couches du jeu */

#enemies,
#playerProjectiles, 
#asteroids {
    position: absolute; /* Permet de positionner les ennemis par rapport au plateau de jeu */
    inset: 0; /* Remplit tout le plateau de jeu */
}

/* Joueur */
#player {
    position: absolute; /* Permet de positionner le joueur par rapport au plateau de jeu */
    width: 5vh; /* Utiliser vh pour que le joueur soit proportionnel à la hauteur de la fenêtre */
    height: 5vh; /* Utiliser vh pour que le joueur soit proportionnel à la hauteur de la fenêtre */
    bottom: 1vh;
    left: 50%; /* Centrer le joueur horizontalement */
    transform: translateX(-50%);  /* Centrer le joueur a lui meme horizontalement */
}

#playerImage {
    width: 150%;
    height: 150%;
    transform: translate(-15%, -25%);
    object-fit: contain;
    display: block;
}

/* Ennemis */
.enemy {
    /* background-color: red; */
    position: absolute; /* Permet de positionner les ennemis par rapport au plateau de jeu */
    width: 5vh; /* Utiliser vh pour que les ennemis soient proportionnels à la hauteur de la fenêtre */
    height: 5vh; /* Utiliser vh pour que les ennemis soient proportionnels à la hauteur de la fenêtre */
    transform: translateX(-50%);
}

.enemyImage {
    width: 150%;
    height: 150%;
    transform: translate(-15%, -25%);
    object-fit: contain;
    display: block;
}
/* Projectiles */
.projectile {
    position: absolute;

    width: 1vh;
    height: 3vh;

    transform: translateX(-50%);
}

#playerProjectiles .projectile {
    background-color: rgb(92, 149, 255);
}
#enemyProjectiles .projectile {
    background-color: rgb(163, 3, 123);
}
/* Explosions */
#explosions {
    position: absolute;
    inset: 0;
}

#explosions img {
    position: absolute;
    width: 15vh;
    height: 15vh;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

/* Asteroids */
.asteroid {
    position: absolute;
    height: auto;
    width: 10vh;
    transform: translate(-50%,-100%);
}